# タスク
IBMやIT業界が使用する略語(3～5文字のアルファベット)と例文を「入力情報」として提示します。
「参考情報」の内容を踏まえて、略語の解説と例文を作成してください。
「入力情報」の略語が一致していても、**例文の意味を解釈した結果、適さないものであれば採択せず**、一般的な用語の解説をしてください。


# 入力情報
- 略語 : {{abbreviation}}
- 例文 : {{sentence}}


# 参考情報
{{result}}


# 出力内容
### 略語：{略語}
- XXXXXの場合は類推してください。

### 解説
- 略語について解説してください。

### 例文
- 略語を使った例文を3つ挙げてください。